# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
wheels/

# Flask stuff:
instance/
.webassets-cache

# Environment variables
.env

# Virtual environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs and editors
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Migrations
migrations/versions/

# Alembic
alembic.ini
env.py
script.py.mako
