body {
  color: white;
  margin: 0;
}
.image-background {
  height: 100vh;
  min-height: 500px;
  background-image: url('./laura-chouette-DZTfUe9YQuA-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  text-shadow: 1px 2px black;
}

.text-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
}


input[type="text"] {
  padding: 0.5em;
  margin: 0.5em;
  width: 20em;
  outline: none;
  border: none;
  border-bottom: 2px solid #000;
  background-color: transparent;
  color: white;
}

input[type="submit"] {
  background-color: transparent;
  border: none;
  color: white;
}
