<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/affirmation.css') }}">
</head>
<body>  
    <div class='image-background'>
        <div class='container h-100'>
            <div class='row h-100 align-items-center'>
                <div class='col-12 text-center'>
                    <div class="centered">{{ quote }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-container">
        <form method="POST" id="user-quote">
            <input class="textbox" type="text" placeholder="leave an uplifting message to the board..." name="user_quote">
            <input class="submit-button" type="submit" value="Submit">
        </form>
        <div id="success-message" style="display: none;">Success!</div>
        <script>
            document.getElementById("user-quote").addEventListener("submit", function(event){
                event.preventDefault();
                document.getElementById("success-message").style.display = "block";
                setTimeout(function(){
                    document.getElementById("success-message").style.display = "none";
                }, 3000);
            });
        </script>
    </div>
    
      
</body>

</html>
